*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

}
.container{

    width: 100%;
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    background-image: url("../Images/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
form{

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    
}

input{

        height: 30px;
        width: 140px;
        padding:5px;
        font-size: 1.5rem;
        background-color: white;
        text-align: center;
        border-radius: 5px;
        box-shadow: inset 0px 0px 2px #97d43b;
}
label{

    font-size: 2rem;
    font-family: 'Kalam', cursive;
    color: white;
}
span{
    padding-left: 25%;
    text-align: center;
    font-size: 1rem;
    color: floralwhite;
}
input:hover,#btn:hover{

    box-shadow:  0px 0px 3px #cccccc;
    color:whitesmoke;
    background-color: transparent;
    transition: 500ms;  
}
#btn{

    background-color: rgb(151, 212, 59);
    width: 100px;
    color: white;
    font-family: 'Kalam', cursive;
}
.content{

    display: flex;
    flex-direction: column;
    background-image: url(../Images/bg5.jpg);
    background-size: cover;
}
.month-days{

        flex-grow: 0.2;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: 100px;
        align-items: center;
        justify-items: center;
    }
.month-dates{

    flex-grow: 3;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;

}
p{

    font-size: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}
p:hover{

   
    color: #97d43b;
    transition: 800ms;
    transform: scale(1.1);

}
.calendar{

    display: flex;
    flex-grow: 0.2;
    align-items: center;
    justify-content: center
}
.title{


    font-size: 2.5rem;
    color: lightgoldenrodyellow;
    font-weight: bolder;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
}

@media only screen and (max-width:800px){

    *{
        font-size: 8px;
    }
    .container{
     grid-template-columns:none;   
    grid-template-rows: 2fr 3fr;
    background-position: left;
    background-size: cover;
    }
    p{

        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width:400px){


     *{

        font-size: 6px;
     }

}
