<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leases</title>
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">


</head>

<body>
    

        <div class="container">    

            <div class="main" >

                <header class="head">

                    <div class="Heading">

                        <h2 id="headtext"> Leases </h2>

                    </div>

                    <div class="head-img">

                        <img src="Images/profile.png" alt="" id="head-img1" onclick="profilePage()">
                        <img src="Images/im.jpg" alt=""      id="head-img2" onclick="profilePage()">
                        <img src="Images/images.jpeg" alt="" id="head-img3" onclick="profilePage()">

                    </div>

                </header>

                <br>
                <br>

                <div class="content">

                    <div class="card c1">

                        <div class="box-1">

                            <img src="Images/h1.jpeg" alt="">

                            <!-- box-1 -->
                        </div>

                            
                        <div class="box-2">

                            <div class="b1">   

                            <p> 102 South Street #302,<br> <span>14850 NY</span> </p>


                            <img src="Images/dlt1.jpg" alt="" class="img i-1">
                            <img src="Images/trash.jpg" alt="" class="img i-2">
                                <!-- b1 -->
                            </div>


                            <div class="b2">  
                                
                                <p>$3,120</p>
                                <p>3 Beds</p>
                                <p>3 Messages</p>

                                
                                <!-- b2 -->
                            </div>

                            <!-- box-2 -->
                        </div>

                         <!-- card -->
                    </div>



                    <div class="card c2">

                        <div class="box-1">

                            <img src="Images/h1.jpeg" alt="">

                            <!-- box-1 -->
                        </div>

                            
                        <div class="box-2">

                            <div class="b1">   


                            <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                            

                            <img src="Images/dlt1.jpg" alt="" class="img i-1">
                            <img src="Images/trash.jpg" alt="" class="img i-2">   
                                <!-- b1 -->
                            </div>

                            <div class="b2">  
                                
                                <p>$3,120</p>
                                <p>3 Beds</p>
                                <p>3 Messages</p>

                                <!-- b2 -->
                            </div>

                            <!-- box-2 -->
                        </div>

                         <!-- card -->
                    </div>



                    <div class="card c3">

                        <div class="box-1">

                            <img src="Images/h1.jpeg" alt="">

                            <!-- box-1 -->
                        </div>

                            
                        <div class="box-2">

                            <div class="b1">   


                            <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                            
                            <img src="Images/dlt1.jpg" alt="" class="img i-1">
                            <img src="Images/trash.jpg" alt="" class="img i-2">
                                <!-- b1 -->
                            </div>

                            <div class="b2">  
                                
                                <p>$3,120</p>
                                <p>3 Beds</p>
                                <p>3 Messages</p>

                                <!-- b2 -->
                            </div>

                            <!-- box-2 -->
                        </div>

                         <!-- card -->
                    </div>

                    <div class="card c4">

                        <div class="box-1">

                            <img src="Images/h1.jpeg" alt="">

                            <!-- box-1 -->
                        </div>

                            
                        <div class="box-2">

                            <div class="b1">   


                            <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                            
                            <img src="Images/dlt1.jpg" alt="" class="img i-1">
                            <img src="Images/trash.jpg" alt="" class="img i-2">
                                <!-- b1 -->
                            </div>

                            <div class="b2">  
                                
                                <p>$3,120</p>
                                <p>3 Beds</p>
                                <p>3 Messages</p>

                                <!-- b2 -->
                            </div>

                            <!-- box-2 -->
                        </div>

                         <!-- card -->
                    </div>
                    
                    <div class="card c5">

                        <div class="box-1">

                            <img src="Images/h1.jpeg" alt="">

                            <!-- box-1 -->
                        </div>

                            
                        <div class="box-2">

                            <div class="b1">   


                            <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                            <img src="Images/dlt1.jpg" alt="" class="img i-1">
                            <img src="Images/trash.jpg" alt="" class="img i-2">
                              
                                <!-- b1 -->
                            </div>

                            <div class="b2">  
                                
                                <p>$3,120</p>
                                <p>3 Beds</p>
                                <p>3 Messages</p>

                                <!-- b2 -->
                            </div>

                            <!-- box-2 -->
                        </div>

                         <!-- card -->
                    </div>

                    <div class="card c6">

                        <div class="box-1">

                            <img src="Images/h1.jpeg" alt="">

                            <!-- box-1 -->
                        </div>

                            
                        <div class="box-2">

                            <div class="b1">   


                            <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                            <img src="Images/dlt1.jpg" alt="" class="img i-1">
                            <img src="Images/trash.jpg" alt="" class="img i-2">
                                <!-- b1 -->
                            </div>

                            <div class="b2">  
                                
                                <p>$3,120</p>
                                <p>3 Beds</p>
                                <p>3 Messages</p>

                                <!-- b2 -->
                            </div>

                            <!-- box-2 -->
                        </div>

                         <!-- card -->
                    </div>

                    <div class="card c7">

                        <div class="box-1">

                            <img src="Images/h1.jpeg" alt="">

                            <!-- box-1 -->
                        </div>

                            
                        <div class="box-2">

                            <div class="b1">   


                            <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                            <img src="Images/dlt1.jpg" alt="" class="img i-1">
                            <img src="Images/trash.jpg" alt="" class="img i-2">
                                <!-- b1 -->
                            </div>

                            <div class="b2">  
                                
                                <p>$3,120</p>
                                <p>3 Beds</p>
                                <p>3 Messages</p>

                                <!-- b2 -->
                            </div>

                            <!-- box-2 -->
                        </div>

                         <!-- card -->
                    </div>


                </div>


                <footer class="footer" id="f1">

                    <div class="footer-1">

                        
                        <span class="material-icons-two-tone icons ic-1" >person</span>
                        <span class="material-icons-two-tone icons ic-2">room </span>
                        <span class="material-icons-two-tone icons ic-3" onclick="likeChange()" >thumb_up</span>
                        <span class="material-icons-two-tone icons ic-4" onclick="documentChange()" >description </span>
                        <span class="material-icons-two-tone icons ic-5"> home </span>
                        

                    </div>

                    <div id="footer-2">



                    </div>



                </footer>

                    <div class="card-1">

                        <div class="card cc" >

                            <div class="box-1">
    
                                <img src="Images/h1.jpeg" alt="">
    
                                <!-- box-1 -->
                            </div>
    
                                
                            <div class="box-2">
    
                                <div class="b1">   
    
                                <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
    
                                <span class="material-icons-round dislike" style="font-size: 18px;">
                                    thumb_down
                                    </span>
    

                                    <!-- b1 -->
                                </div>
    
    
                                <div class="b2">  
                                    
                                    <p>$3,120</p>
                                    <p>3 Beds</p>
                                    <p>3 Messages</p>
    
                                    
                                    <!-- b2 -->
                                </div>
    
                                <!-- box-2 -->
                            </div>
    
                             <!-- card -->
                        </div>
    
    
    
                        <div class="card cc1" >
    
                            <div class="box-1">
    
                                <img src="Images/h1.jpeg" alt="">
    
                                <!-- box-1 -->
                            </div>
    
                                
                            <div class="box-2">
    
                                <div class="b1">   
    
    
                                <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
    
                                <span class="material-icons-round  dislike" style="font-size: 18px;">
                                    thumb_down
                                    </span>

                                       
    
                                    <!-- b1 -->
                                </div>
    
                                <div class="b2">  
                                    
                                    <p>$3,120</p>
                                    <p>3 Beds</p>
                                    <p>3 Messages</p>
    
                                    <!-- b2 -->
                                </div>
    
                                <!-- box-2 -->
                            </div>
    
                             <!-- card -->
                        </div>
    
    
    
                        <div class="card cc2" >
    
                            <div class="box-1">
    
                                <img src="Images/h1.jpeg" alt="">
    
                                <!-- box-1 -->
                            </div>
    
                                
                            <div class="box-2">
    
                                <div class="b1">   
    
    
                                <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                                <span class="material-icons-round  dislike" style="font-size: 18px;">
                                    thumb_down
                                    </span>


                                     
    
                                    <!-- b1 -->
                                </div>
    
                                <div class="b2">  
                                    
                                    <p>$3,120</p>
                                    <p>3 Beds</p>
                                    <p>3 Messages</p>
    
                                    <!-- b2 -->
                                </div>
    
                                <!-- box-2 -->
                            </div>
    
                             <!-- card -->
                        </div>
    
                        <div class="card cc3">
    
                            <div class="box-1">
    
                                <img src="Images/h1.jpeg" alt="">
    
                                <!-- box-1 -->
                            </div>
    
                                
                            <div class="box-2">
    
                                <div class="b1">   
    
    
                                <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                                
                                <span class="material-icons-round  dislike" style="font-size: 18px;">
                                    thumb_down
                                    </span>    
                                   
                                    <!-- b1 -->
                                </div>
    
                                <div class="b2">  
                                    
                                    <p>$3,120</p>
                                    <p>3 Beds</p>
                                    <p>3 Messages</p>
    
                                    <!-- b2 -->
                                </div>
    
                                <!-- box-2 -->
                            </div>
    
                             <!-- card -->
                        </div>
                        
                        <div class="card cc4" > 
    
                            <div class="box-1">
    
                                <img src="Images/h1.jpeg" alt="">
    
                                <!-- box-1 -->
                            </div>
    
                                
                            <div class="box-2">
    
                                <div class="b1">   
    
    
                                <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                                
                                <span class="material-icons-round  dislike" style="font-size: 18px;">
                                    thumb_down
                                    </span> 
                                    
                                   
                                    <!-- b1 -->
                                </div>
    
                                <div class="b2">  
                                    
                                    <p>$3,120</p>
                                    <p>3 Beds</p>
                                    <p>3 Messages</p>
    
                                    <!-- b2 -->
                                </div>
    
                                <!-- box-2 -->
                            </div>
    
                             <!-- card -->
                        </div>
    
                        <div class="card cc5" >
    
                            <div class="box-1">
    
                                <img src="Images/h1.jpeg" alt="">
    
                                <!-- box-1 -->
                            </div>
    
                                
                            <div class="box-2">
    
                                <div class="b1">   
    
    
                                <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                                <span class="material-icons-round  dislike" style="font-size: 18px;">
                                    thumb_down
                                    </span> 
                                    
                                       
                                    <!-- b1 -->
                                </div>
    
                                <div class="b2">  
                                    
                                    <p>$3,120</p>
                                    <p>3 Beds</p>
                                    <p>3 Messages</p>
    
                                    <!-- b2 -->
                                </div>
    
                                <!-- box-2 -->
                            </div>
    
                             <!-- card -->
                        </div>
    
                        <div class="card cc6">
    
                            <div class="box-1">
    
                                <img src="Images/h1.jpeg" alt="">
    
                                <!-- box-1 -->
                            </div>
    
                                
                            <div class="box-2">
    
                                <div class="b1">   
    
    
                                <p> 102 South Street #302,<br> <span>14850 NY</span> </p>
                                <span class="material-icons-round  dislike" style="font-size: 18px;">
                                    thumb_down
                                    </span> 
         
                                    <!-- b1 -->
                                </div>
    
                                <div class="b2">  
                                    
                                    <p>$3,120</p>
                                    <p>3 Beds</p>
                                    <p>3 Messages</p>
    
                                    <!-- b2 -->
                                </div>
    
                                <!-- box-2 -->
                            </div>
    
                             <!-- card -->
                        </div>
    
    
                    </div>
    
    
                    
                    </div>
               
                <!-- main -->
            </div>

            <div class="profile">

                    
                <div class="profile-head">

                </div>

                <div id="profile-main">


                    <span class="material-icons-outlined" >
                        edit
                        </span>
                        <span class="material-icons-outlined" onclick="closing()">
                            close
                        </span>
                             
                        
                    <div class="details">

                        <img src="Images/profile.png" alt="">

                        <p>Jennifar Martin</p>
                        <p>Jenmartin@gmail.com</p>

                    </div>    


                    <div class="details d1">

                        <h5>My Group</h5>

                        <img src="Images/im.jpg" alt="" id="p-img">

                        <p>Jennifar Martin</p>
                        <p>Jenmartin@gmail.com</p>

                    </div>    
                    <div class="details-1">

                        <img src="Images/images.jpeg" alt="" id="p-img1">

                        <p>Jennifar Martin</p>
                        <p>Jenmartin@gmail.com</p>

                    </div>    

                </div>
                <br><br><br>

                <div class="payment">

                    <h5>My Payment Method </h5>

                    <div class="pay">

                        <img src="Images/cc.png" alt="" id="pay-img">

                        <p>****3187</p>
                        <span class="material-icons-outlined">
                            check_circle
                            </span>

                    </div>    

                    <div class="pay">

                        <img src="Images/cc2.png" alt="" id="pay-img">
                        <p>Jennifarmartin</p>

                    </div>    

                        <!-- payment -->
                </div>

               <div class="pay-footer">

                    <input type="text" value="Search">
                    <input type="button" value="Settings">


               </div> 


            </div> 



            <div class="layer">



            </div>


            <!-- container -->
        </div>


        <script src="JS/layout.js">


        </script>

</body>
</html>