*{

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.container{


    width: 500px;
    height: 350px;
    margin:9% auto;
    text-align: center;
    padding: 20px;
    background-image: url("../images/bg1.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    box-shadow:0px 0px 5px lightgrey;
    display: flex;
    flex-direction: column;

}
h1{

    font-size: 23px;
    color: WHITE;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

label{

    font-size: 16px;
    font-weight: bolder;
}
input{

    width: 150px;
    height: 30px;
    font-size:18px;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 3px 20px;
    font-size: 14px;
    text-align: center;

}
input:hover{

    background-color: transparent;
    color: black;
    border: 1px solid rgb(55, 169, 214);
    transition: 500ms;
    
}
.submit{

    width: 90px;
    height: 40px;
    background-color: lightskyblue;
    color: white;
    margin-top: 30px;
    font-weight: bolder;
    text-align: center;
    color: white;
    box-shadow: 0.8px 0.8px 6px grey;
    border: none;
    border-radius: 6px;
}    

.submit:hover {

opacity: 0.8;

}
form,.answers{

margin-top: 25px;
line-height: 1.5;
flex-grow: 1;
}
.answers{

display: flex;
justify-content: space-evenly;
font-size: larger;
font-weight: bold;
align-items: center;
padding-bottom: 50px;
color: white;
text-shadow: 0px 0px 1px black;
font-size: 20px;

}
