*{
	margin:  0;
	padding: 0;
	border:  0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-size: 10px;

}
body{

    background-color: black;
}
.main{

    width: 60%;
    min-width: 500px;
    height: 95vh;
    background-color: #FFF8ED;
    margin: 1% auto;
    overflow: hidden;
    position: relative; 
    padding: 15px; 
}
#container{
  
    width: 300px;
    height: 96%;
    margin: 12px auto;
    background-color: #141414;
    border-radius: 25px;
    padding:0px 10px;
   
}
.ball{

    height: 130px;
    width: 130px;
    background-color: #FEBB98;
    border-radius: 48%;
    position: absolute;
    top: -45px;
    right: -60px;
}
.bone{
    height: 130px;
    width: 130px;
    background-color: #FEBB98;
    border-radius: 48%;
    position: absolute;
    bottom: -59px;
    left: -53px;

}

.displaycontent{
    
    width: 100%;
    height: 38%;
    font-weight: bolder;
    color: white;
}
#dis1,#dis2{

    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
#dis2{

    border-bottom: 2px solid grey;
    align-items: center;
    
}
#ans,#anss{

    font-size: 1.5rem;
    color: lightgrey;
    font-weight: 100;
    padding: 0px 10px;
    letter-spacing: 6px;

}
#anss{

    font-size: 4rem;
    color: white;
    letter-spacing: 0; 
 
}
.ani{

    animation : leftSpeed 200ms ease running;
}
@keyframes leftSpeed {

    0%   {position: absolute; left:0px; top:30px;opacity: 0;}    
    100% {position: absolute; left:180px; top:30px; opacity: 0.7;}
  
}
.content{

    height:60%;
    display: grid;
	grid-template-columns: repeat(4,1fr);
 	grid-template-rows: repeat(5,1fr);     
    grid-gap:10px; 

}
.btn{

    background-color: #141414;
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    font-family: 'Source Sans Pro';
}

@keyframes leftSpeed {

    0%   {position: absolute; left:0px; top:30px;}    
    100% {position: absolute; left:180px; top:30px;}
  
}
#ope{

    color: #E26035;
    font-weight: 300;

}
#tot{

    background-color: #E26035;
    border-radius: 40%;
    color: white;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 9px;
}

@media only screen  and (max-width:700px){

.main{

    width: 60%;

}

#content{

    width: 300px;
 }

}

@media only screen  and (max-width:475px){

    .main{
    
        width: 100%;
        height: 600px;
        margin: auto;
    
    }
    #content{
    
        width: 300px;
    }
            
}
